section.section-contact {
	background-color: #ffffff;
	background-image: url("https://raw.githubusercontent.com/tt-p/pethospital.github.io/master/res/background/register-img.jpg");
	background-position: bottom;
	background-repeat: no-repeat;
	height: 840px;
	padding: 20px;
}

.section-contact h2 {
	border-bottom: 2px solid #d01c1f;
	color: #d01c1f;
	font-style: italic;
	font-size: 40px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.section-contact form {
	padding: 20px 0 0 700px;
}

.section-contact ul {
	list-style: none;
	display: block;
}

.section-contact li {
	padding: 10px;
}

.section-contact form label {
	color: #d01c1f;
	font-size: 18px;
	text-transform: capitalize;
}

.section-contact input, .section-contact textarea, .section-contact select{
	background-color: #f7f7f9;
	border: 1px solid #d01c1f;
	border-radius: 50px;
	color: #d01c1f;
	font-size: 18px;
	height: 24px;
	padding-left: 30px;
	text-align: left;
}

.section-contact input:focus, .section-contact textarea:focus, .section-contact select:focus{
	background-color: #d01c1f;
	border: 1px solid #f7f7f9;
	color: #f7f7f9;
	outline: none;
}

.section-contact textarea {
	height: 300px;
}

.section-contact p {
	padding-top: 20px;
	text-align: center;
}