section.section-gallery {
	background-color: #f7f7f9;
	color: gray;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.section-gallery h2 {
	border-bottom: 2px solid #d01c1f;
	color: #d01c1f;
	font-style: italic;
	font-size: 40px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

.section-gallery figure {
	margin: 20px auto;
	text-align: center;
	text-transform: uppercase;
}

.section-gallery figure img {
	border: 1px solid white;
	border-radius: 50%;
	box-shadow: gray 0 0 10px;
	height: 400px;
	width: 400px;
}