section.section-about {
	padding: 20px; 
}

section h3 {
	color: #d01c1f;
	font-style: italic;
	font-size: 20px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

section.section-login {
	background-image: url("https://raw.githubusercontent.com/tt-p/pethospital.github.io/master/res/background/section-img.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	height: 760px;
}

section h2 {
	color: #d01c1f;
	font-style: italic;
	font-size: 40px;
	margin: 0;
	padding: 20px 0 0 0; 
	text-align: center;
	text-transform: uppercase;
}

.section-login form {
	display: table;
	float: right;
	height: 100%;
	margin-right: 200px; 
}

form ul {
	display: table-cell;
	vertical-align: middle;
	list-style-type: none;
}

form li {
	margin: 20px;
}

section form label {
	color: #d01c1f;
	font-size: 30px;
	text-transform: uppercase;
}

#username, #password {
	background-color: #f7f7f9;
	border: 1px solid #d01c1f;
	border-radius: 50px;
	color: #d01c1f;
	font-size: 30px;
	height: 50px;
	padding-left: 30px;
	text-align: left;
}

section form input[type=submit], section form input[type=button] {
	background-color: #f7f7f9;
	border: 1px solid #d01c1f;
	border-radius: 50px;
	color: #d01c1f;
	font-size: 20px;
	padding: 10px;
}

#new-user {
	left: 455px;
	position: relative;
	top: 485px;
}

#username:focus , #password:focus, section form input[type=submit]:focus, section form input[type=button]:focus {
	background-color: #d01c1f;
	border: 1px solid #f7f7f9;
	color: #f7f7f9;
	outline: none;
}