/* header */
title {
	text-transform: capitalize;
}

/* body */

html, body {
	background-color: #f6f6f6;
	font-family: Helvetica Neue, Helvetica, Arial;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	min-height: 100%;
}

/* header */

header {
	background-color: #f7f7f9;
	background-image: url("../res/background/header-img.jpg");
	background-position: top;
	background-repeat: no-repeat;
	height: 700px;
}

header h1 {
	color: #d01c1f;
	font-size: 60px;
	margin-left: 20px;
	position: relative;
	top: -50px;
	text-transform: uppercase;
}

.header-top {
	background-color: #f7f7f9;
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.68);
	height: 40px;
	display: block;
	position: relative;
	width: 100%;
}

.header-top a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

.header-tel {
	float: left;
	margin-left: 40px;
	position: relative;
	top: 8px;
}

.header-mail {
	float: right;
	margin-right: 40px;
	position: relative;
	top: 4px;
}

.header-tel img {
	height: 20px;
	position: relative;
	top: 4px;
	width: 20px;
}

.header-mail img {
	height: 25px;
	position: relative;
	top: 8px;
	width: 25px;
}

.header-mid {
	position: relative;
	padding: 50px;
	top: 260px;
	width: 880px;
}

.header-mid label {
	font-size: 80px;
	font-style: italic;
}

.header-mid hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.05));
}

.header-mid input[type=text] {
	background-color: rgba(212, 212, 212, 0.80);
	border: hidden;
	border-radius: 50px;
	font-size: 30px; 
	height: 50px;
	text-align: center;
	width: 85%;
}

.header-mid input[type=submit] {
	border: hidden;
	font-size: 30px;
	height: 50px;
	text-align: left;
}

.header-mid input[type=text]:focus, .header-mid input[type=submit]:focus {
	outline: none;
}

/* nav */

nav {
	background-color: #f7f7f9;
	display: block;
	height: 80px;
	position: relative;
	text-align: center;
	width: 100%;
	box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.68);
}

.inner-nav {
	height: 100%;
	margin: 0 auto;
 	width: 1200px;
}

.logo-container {
	float: left;
	height: 100%;
}

.nav-logo {
	height: 51px;
	padding: 15px;
	width: 198px;
}

.navigation {
	float: right;
	list-style: none;
}

.navigation li {
	float: left;
	margin-top: 13px;
}

.navigation li a {
	color: #d01c1f;
	font-size: 20px;
	padding: 29px;
	text-decoration: none;
	text-transform: capitalize;
}

.navigation li a:hover, #current-page {
	background-color: #d01c1f;
	box-shadow: inset 0px 0px 6px 2px rgba(0,0,0,0.68);
	color: #f7f7f9;
}

/* footer */

footer {
	background-color: #1c2023;
	color: #d3d3d3;
	height: 400px;
	position: relative;
	width: 100%;
}

.footer-top {
	background-color: #212529;
	padding: 10px 0 10px 0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.footer-top a {
	color: #f7f7f9;
	font-weight: bold;
	text-decoration: none;
}

.footer-mid {
	height: 300px;
	display: flex;
	width: 100%;
}

.footer-section {
	flex: 1;
	flex-direction: row;
}

footer .about {
	align-self: center;
	font-style: italic;
	padding: 20px;
}

.footer-logo {
	height: 86px;
	width: 330px;
}

.social {
	position: relative;
	top: 70px;
	font-style: oblique;
	font-size: 30px;
	text-align: center;
	padding: 20px;
}

footer ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

footer li {
	border-style: none;
	flex: 1;
}

footer a img {
	border-color: white;
	border-width: 5px;
	border-radius: 15px;
	border-style: hidden;
	height: 30px;
	padding: 10px;
	width: 30px;
}

footer a img:hover {
	border-style: outset;
	height: 40px;
	width: 40px;
}

.footer-bottom {
	background-color: #000000;
	bottom: 0px;
	color: #f7f7f9;
	height: 40px;
	padding-top: 20px;
	position: absolute;
	text-align: center;
	width: 100%;
}