section {
	background-color: #ffffff;
	background-image: url(res/background/register-img.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	height: 770px;
	padding: 100px;
}

section h2 {
	border-bottom: 2px solid #d01c1f;
	color: #d01c1f;
	font-style: italic;
	font-size: 40px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

section figure, section figcaption {
	color: green;
	text-align: center;
}